<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <style>table th, table td {
        padding: 5px;
    }

    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #e75480; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 0.25rem 0.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id = ${user.getId()})}" th:object="${user}">
    <label for="username">Enter Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    </br>
    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    </br>
    <label for="lastName">Enter Lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    </br>
    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    </br>
    <label for="department">Enter Department: </label>
    <input type="text" th:field="*{department}" id="department"/>
    </br>
    <tr>
        <label>
            <select size="3" name="role" id="roles" multiple="multiple">
                <option disabled>Choose Role</option>
                <option value="1">ADMIN</option>
                <option value="2">USER</option>
            </select>
        </label>
    </tr>
    <input type="submit" value="Update!" class="btn"/>
</form>

</body>
</html>