<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>table th, table td {
        padding: 5px;
    }

    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #e75480; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 0.25rem 0.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
    }
    </style>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn" value="Sign Out"/>

    <input type="button" class="btn" value="Go to users!"
           onclick="window.location.href = '/admin/users'"/>
</form>
</body>
</html>