<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>table th, table td {
        padding: 5px;
    }

    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #e75480; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 0.25rem 0.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
    }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>lastname</th>
        <th>department</th>
        <th>age</th>
    </tr>

    <tr>
        <td th:utext="${user.getId()}">VALUE</td>
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastName()}">lastname</td>
        <td th:utext="${user.getDepartment()}">department</td>
        <td th:utext="${user.getAge()}">VALUE</td>
    </tr>
</table>

<input type="button" class="btn" value="Go to main page!"
       onclick="window.location.href = '/admin/users'"/>
</body>
</html>