<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table border="1">
    <tr>
        <th>name</th>
        <th>lastname</th>
        <th>department</th>
        <th>operations</th>
    </tr>

    <tr th:each="user : ${users}">

        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastName()}">lastname</td>
        <td th:utext="${user.getDepartment()}">department</td>
        <td>
            <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:utext="open"></a>
            <a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">edit</a>
            <form th:method="DELETE" th:action="@{/admin/users/{id}/delete(id=${user.getId()})}">
                <input type="submit" value="Delete" class="btn"/>
            </form>

        </td>

    </tr>
</table>
<input type="button" value="Add"
       onclick="window.location.href = '/admin/users/addNew'"/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>